main{
	position: relative;
	width: 80%;
	height: 80%;
    min-height: 90vh;
	padding-top: 1.8rem;
	left: 10%;
    color: black;
	background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin-top: 5px;
}

main h1{
	padding: 5px;
	text-align: center;
	font-family: 'Verdana';
	text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
}

#toggle-daily-weekly{
	text-align: center;
	margin-top: 1.3rem;
}

#habit-form{
	text-align: center;
	margin-top: 1.3rem;
	width: 100%;
}

#habit-form button{
	background: #2121ef;
	border: none;
	color: white;
	height: 2rem;
	widows: 3rem;
	display: inline-block;
}

#habit-form input{
	width: 50%;
	font-size: 1.1rem;
	font-family: Courier;
}

#habits-container{
	width: 100%;
	overflow: auto;
	height: 65%;
}

.habit{
	width: 80%;
	height: 22%;
	margin: auto;
	/* /* margin-top: 1%; */
	margin-bottom: 2%; 
	background: black;
	display: flex;
	justify-content: space-between;
}

.habit-title{
	height: 100%;
	width: 15%;
	/*border: 1px solid white;*/
	color: white;
	text-align: center;
	padding-top: 1.4rem;
	font-size: 1.2rem;
	font-family: cursive;
}

.weekdays-container{
	height: 100%;
	width: 65%;
	/*border: 1px solid white;*/
	display: flex;
	justify-content: space-between;
}

.habit-options{
	height: 100%;
	width: 10%;
	/*border: 1px solid white;*/
	text-align: center;
	padding-top: 1.5rem;
	display: flex;
	justify-content: space-around;
}

.habit-options a{
	/*margin-right: 10px;*/
	color: white;
	text-decoration: none;
	display: inline-block;
}

.monday,.tuesday,.wednesday,.thursday,.friday,.saturday,.sunday{
	width: 10%;
	height: 85%;
	border: 1px solid grey;
	margin-top: 1.1%;
	margin-left: 1%;
	display: flex;
	flex-direction: column;
}

.day-name{
	width: 100%;
	height: 30%;
	text-transform: capitalize;
	background: blueviolet;
	color: white;
	font-size: 0.8rem;
	text-align: center;
}

.date{
	width: 100%;
	height: 30%;
	color: whitesmoke;
	font-size: 0.8rem;
	text-align: center;
}

.habit-status{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: space-around;
}

.habit-finished,.habit-unfinished{
	display: inline-block;
	height: 73%;
	width: 36%;
	margin-top: 5%;
	margin-bottom: 5%;
	border: none;
	text-align: center;
	padding: 0;
	color: white;

}

.habit-finished{
	/*background: #105f10;*/
	background: green;
}

.habit-unfinished{
	/*background: #7d0d0d;*/
	background: red;

}

.finished{
	color: green;
	text-transform: capitalize;
	font-size: 0.7rem;
	font-family: cursive;
}

.unfinished{
	color: red;
	text-transform: capitalize;
	font-size: 0.7rem;
	font-family: cursive;
}

.today{
	width: 10%;
	height: 85%;
	border: 1px solid grey;
	margin-top: 1.1%;
	margin-left: 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center{
	justify-content: center;
}

.font{
	font-size: 1.1rem;
}

/* Media Queries */

@media screen and (max-width: 600px){

	html{
		font-size: 10px;
	}
	main{
		width: 95%;
		left: 3%;
	}
	#habits-container{
		height: 80%;
	}
	.habit{
		flex-direction: column;
		justify-content: space-between;
		width: 90%;
		height: 110px;
	}
	.habit-title{
		width: 100%;
	}
	.weekdays-container{
		justify-content: center;
		width: 100%;
	}
	.habit-options{
		width: 100%;
	}
	footer{
		margin-top: 30px;
	}
}
